/* --------------------------------------------------------
Style Sheet for Escort

date: 2020
author: Ivana J. - Digital Orange <jakimovska@gwcworld.com>
----------------------------------------------------------*/
/* ====== MIXINS ====== */
/* ====== / MIXINS ====== */
header .do-top-header {
  -webkit-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to left, #EF2F7F, #781840);
}
header .do-top-header .container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
header .do-top-header .container .do-toggler {
  display: none;
}
header .do-top-header .container .do-toggler .navbar-toggler-icon {
  background: url("../images/bars.svg") no-repeat;
}
header .do-top-header .container .do-logo img {
  width: 100%;
}
header .do-top-header .container .do-search form {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: initial;
  -ms-flex-align: initial;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
header .do-top-header .container .do-search form input {
  background: transparent;
  color: #ffffff;
  border: unset;
  border-radius: unset;
  border-bottom: 1px solid #ffffff;
}
header .do-top-header .container .do-search form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1;
  opacity: 1;
  font-style: italic;
}
header .do-top-header .container .do-search form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1;
  font-style: italic;
}
header .do-top-header .container .do-search form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1;
  font-style: italic;
}
header .do-top-header .container .do-search form input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1;
  font-style: italic;
}
header .do-top-header .container .do-search form input:focus {
  outline: none;
}
header .do-top-header .container .do-search .do-mobile-search {
  display: none;
}
header .do-top-header .container .do-overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}
header .do-top-header .container .do-overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}
header .do-top-header .container .do-overlay-closebtn {
  content: "";
  background: url("../images/close_white.svg") no-repeat;
  position: absolute;
  top: 20px;
  right: 45px;
  width: 30px;
  height: 30px;
}
header nav ul {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}
header nav ul .nav-item {
  padding: 0.5rem 1.25rem;
}
header nav ul .nav-item .nav-link {
  color: #5C5C5C;
}
header nav ul .nav-item.active .nav-link {
  color: #EF2F7F;
}
header nav .do-login {
  display: none;
}

@media (max-width: 768px) {
  header .do-top-header {
    -webkit-box-shadow: 0px 6px 6px #ef2f7f;
    -moz-box-shadow: 0px 6px 6px #ef2f7f;
    box-shadow: 0px 6px 6px #ef2f7f;
  }
  header .do-top-header .container .do-login {
    display: none;
  }
  header .do-top-header .container .do-toggler {
    display: block;
    order: 1;
  }
  header .do-top-header .container .do-search {
    order: 3;
  }
  header .do-top-header .container .do-search form {
    display: none;
  }
  header .do-top-header .container .do-search .do-mobile-search {
    display: block;
  }
  header .do-top-header .container .do-logo {
    text-align: center;
    order: 2;
  }
  header nav.navbar {
    position: absolute;
    top: 0;
    padding: 0;
    z-index: 999999;
    width: 100%;
  }
  header nav.navbar ul {
    padding: 2.0625rem 1.75rem;
  }
  header nav.navbar .do-login {
    display: block;
    border-top: 1px solid #707070;
    margin: 0 2.5rem;
    padding: 2.1875rem 0;
  }
  header nav.navbar .navbar-collapse {
    position: absolute;
    top: 0;
    right: 100%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    width: 100%;
    transition: all 0.3s ease;
    display: block;
    background: #ffffff;
  }
  header nav.navbar .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }
  header nav.navbar .navbar-collapse.show .do-menu-close:before {
    content: "";
    position: absolute;
    background: url("../images/close.svg") no-repeat;
    width: 22px;
    height: 22px;
    background-size: contain;
    right: 1rem;
    top: 1rem;
  }
  header nav.navbar .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }
}
@media (max-width: 425px) {
  header .do-top-header .container .do-logo img {
    width: 80%;
  }
}
.do-slider-wrap {
  margin: 0 0 4.25rem 0;
}
.do-slider-wrap .slick-dotted.slick-slider {
  margin-bottom: 3.125rem;
}
.do-slider-wrap .do-custom-dots {
  position: relative;
}
.do-slider-wrap .do-custom-dots .slick-dots {
  bottom: 0;
}
.do-slider-wrap .do-custom-dots .slick-dots li.slick-active button:before {
  color: #EF2F7F;
  opacity: 1;
  border: unset;
  border-radius: 100%;
  background: #EF2F7F;
  content: "";
}
.do-slider-wrap .do-custom-dots .slick-dots li button:before {
  font-size: 1.225rem;
  line-height: 1;
  border: 1px solid #EF2F7F;
  color: transparent;
  border-radius: 100%;
  opacity: 1;
  width: 15px;
  height: 15px;
}

.do-gallery {
  margin: 0 0 3rem 0;
}
.do-gallery #do-gallery-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: initial;
  -ms-flex-align: initial;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
}
.do-gallery #do-gallery-wrap a {
  width: calc(25% - 40px);
  margin: 1.25rem;
  height: 400px;
}
.do-gallery .do-load-wrap {
  text-align: center;
  padding: 3rem 0 0 0;
}
.do-gallery:not(.do-ricerca-gallery) .do-gallery-items .do-item-info .do-item-info-top .do-right-wrap .badge {
  display: none;
}

.do-gallery-items {
  width: 100%;
  margin: 0;
  position: relative;
}
.do-gallery-items a {
  height: 500px;
  margin: 0 1.25rem;
}
.do-gallery-items .do-gallery-item {
  position: relative;
  transition: all ease-in-out 0.3s;
  height: 100%;
}
.do-gallery-items .do-gallery-item:hover .do-overlay {
  opacity: 0.75;
}
.do-gallery-items .do-gallery-item:after {
  content: "";
  background-image: linear-gradient(to top, #360419, #ffffff);
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 50%;
  z-index: -1;
  opacity: 0.9;
}
.do-gallery-items .do-location:before {
  background: url("../images/location.svg") no-repeat;
  background-size: contain;
}
.do-gallery-items .do-location.inactive:before {
  background: url("../images/location-inactive.svg") no-repeat;
  background-size: contain;
}
.do-gallery-items .do-location:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  left: 0.625rem;
  top: 0.625rem;
}
.do-gallery-items .do-top {
  width: 0;
  height: 0;
  border-top: 4.375rem solid #EF2F7F;
  border-left: 4.375rem solid transparent;
  position: absolute;
  right: 0.125rem;
  top: 0.125rem;
}
.do-gallery-items .do-top:before {
  content: "TOP";
  font-size: 1.25rem;
  line-height: 3.375rem;
  font-weight: 700;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  position: absolute;
  left: -2.5rem;
  top: -4.3rem;
}
.do-gallery-items img {
  width: 100%;
}
.do-gallery-items .do-item-info {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 0.625rem;
  color: #ffffff;
}
.do-gallery-items .do-item-info .do-item-info-top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: flex-end;
  -ms-flex-align: flex-end;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.do-gallery-items .do-item-info .do-item-info-top .do-left-wrap h1 {
  font-size: 2.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  margin-bottom: 0;
}
.do-gallery-items .do-item-info .do-item-info-top .do-left-wrap p {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 300;
  margin-bottom: 0;
}
.do-gallery-items .do-item-info .do-item-info-top .do-right-wrap .do-photos-num {
  font-size: 1.25rem;
  line-height: 2.375rem;
  font-weight: 300;
  position: relative;
}
.do-gallery-items .do-item-info .do-item-info-top .do-right-wrap .do-photos-num:before {
  content: "";
  position: absolute;
  background: url("../images/photography.svg") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  left: -2.5rem;
}
.do-gallery-items .do-item-info .do-item-info-bottom {
  text-align: right;
}
.do-gallery-items .do-item-info .do-item-info-bottom span {
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 700;
  position: relative;
}
.do-gallery-items .do-item-info .do-item-info-bottom span:before {
  content: "";
  position: absolute;
  background: url("../images/tineye.svg") no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  left: -1.5625rem;
  top: 0.4375rem;
}
.do-gallery-items .do-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #000000;
  padding: 1.25rem;
}
.do-gallery-items .do-overlay .do-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  position: relative;
}
.do-gallery-items .do-overlay .do-text h1 {
  font-size: 1.75rem;
  line-height: 2.5rem;
  font-weight: 700;
}
.do-gallery-items .do-overlay .do-text p {
  font-size: 1.25rem;
  line-height: 2.5rem;
  font-weight: 700;
}

.do-ricerca-gallery .do-gallery-items .do-item-info .do-item-info-top {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: initial;
  -ms-flex-align: initial;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.do-ricerca-gallery .do-gallery-items .do-item-info .do-item-info-top .do-right-wrap {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: space-between;
  -ms-flex-align: space-between;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.do-ricerca-gallery .do-gallery-items .do-item-info .do-item-info-top .do-right-wrap div {
  width: 50%;
}
.do-ricerca-gallery .do-gallery-items .do-item-info .do-item-info-top .do-right-wrap .badge {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  font-weight: 900;
  width: 90px;
  height: 30px;
  background: #ffffff;
  color: #EF2F7F;
  border-radius: 25px;
  padding: 0.5rem;
  position: relative;
}
.do-ricerca-gallery .do-gallery-items .do-item-info .do-item-info-top .do-right-wrap .badge:before {
  content: "";
  position: absolute;
  background: url("../images/locator.svg") no-repeat;
  width: 30px;
  height: 30px;
  left: 0.5rem;
}

@media (max-width: 1024px) {
  .do-gallery #do-gallery-wrap a {
    width: calc(50% - 40px);
  }
}
@media (max-width: 425px) {
  .do-gallery .container {
    padding: 0;
  }
  .do-gallery .container #do-gallery-wrap a {
    width: 100%;
    margin: 1.25rem 0;
  }

  .do-slider-wrap .container {
    padding: 0;
  }
  .do-slider-wrap .container .do-gallery-items a {
    margin: 0;
  }
}
footer {
  background-image: linear-gradient(to left, #EF2F7F, #781840);
  height: 270px;
  margin-top: auto;
}
footer .container {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: flex-start;
  -ms-flex-align: flex-start;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  height: 100%;
  position: relative;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
footer .container .do-logo,
footer .container .do-social {
  width: 20%;
}
footer .container .do-logo {
  position: relative;
}
footer .container .do-logo img {
  position: absolute;
  top: -2rem;
  width: 90%;
}
footer .container .do-logo:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  background-color: #ffffff;
  right: 0;
  top: 1rem;
}
footer .container .do-links {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  width: 60%;
  padding: 0 4rem;
}
footer .container .do-links ul {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  width: 100%;
}
footer .container .do-links ul li {
  font-weight: 700;
  padding: 1rem;
}
footer .container .do-links ul li a {
  color: #ffffff;
}
footer .container .do-links .do-menu-links li {
  font-size: 1.4375rem;
}
footer .container .do-links .do-links-bottom > li {
  font-size: 1.25rem;
}
footer .container .do-links .do-links-bottom > li:first-child {
  position: relative;
}
footer .container .do-links .do-links-bottom > li:first-child:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 30px;
  background-color: #ffffff;
  right: -2.5rem;
  top: 1rem;
}
footer .container .do-links .do-links-bottom > li:nth-child(2) {
  display: none;
}
footer .container .do-social {
  padding: 1rem 0;
  position: relative;
}
footer .container .do-social ul {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: center;
  -ms-justify-content: center;
  align-content: center;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
footer .container .do-social ul li {
  padding: 0 1rem;
}
footer .container .do-social:before {
  content: "";
  position: absolute;
  width: 1px;
  height: 150px;
  background-color: white;
  left: 0;
  top: 1rem;
}

@media (max-width: 1500px) {
  footer .container .do-links ul:nth-child(2) li:first-child:before {
    right: 0;
  }
}
@media (max-width: 1024px) {
  footer {
    background-image: linear-gradient(to top, #EF2F7F, #781840);
    height: 100%;
  }
  footer .container {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    align-items: center;
    -ms-flex-align: center;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  footer .container .do-logo {
    width: 50%;
  }
  footer .container .do-logo::before {
    content: none;
  }
  footer .container .do-logo img {
    position: relative;
    top: 0;
    width: 100%;
  }
  footer .container .do-links {
    width: 100%;
    padding: 0;
  }
  footer .container .do-links .do-menu-links {
    display: none;
  }
  footer .container .do-links .do-links-bottom {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    align-items: center;
    -ms-flex-align: center;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
  }
  footer .container .do-links .do-links-bottom li:nth-child(2) {
    display: block;
  }
  footer .container .do-links .do-links-bottom > li:first-child:before {
    width: 100%;
    height: 1px;
    top: unset;
    bottom: 0;
  }
  footer .container .do-social {
    display: none;
  }
}
.do-filter {
  margin: 4rem 0;
}
.do-filter .container {
  color: #5C5C5C;
}
.do-filter .container form {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: flex-start;
  -ms-flex-align: flex-start;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.do-filter .container form .form-group {
  padding: 0 1rem;
}
.do-filter .container form .form-group .do-categories {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-between;
  -ms-justify-content: space-between;
  align-content: space-between;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}
.do-filter .container form .form-group #do-categories-select {
  display: none;
}
.do-filter .container form .form-group:first-child {
  width: 40%;
}
.do-filter .container form .form-group:nth-child(2) {
  width: 30%;
}
.do-filter .container form .form-group:nth-child(3) {
  width: 20%;
}
.do-filter .container form .form-group:nth-child(4) {
  width: 10%;
}
.do-filter .container form .do-form-btn {
  margin: 2.5rem 0.5rem;
}
.do-filter .container form .do-form-btn.do-ricerca .btn {
  position: relative;
  text-align: left;
  padding: 0.375rem 1.5rem;
}
.do-filter .container form .do-form-btn.do-ricerca .btn:before {
  content: "";
  position: absolute;
  width: 35px;
  height: 35px;
  background: url("../images/filters.svg") no-repeat;
  right: 1.5rem;
  top: 0.75rem;
  background-size: contain;
}
.do-filter .container .do-results {
  color: #EF2F7F;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2.5rem;
}
.do-filter .container .do-map {
  display: block;
  line-height: 1.375rem;
  font-weight: 700;
  text-align: center;
  color: #5C5C5C;
  text-decoration: underline;
  margin-left: 3rem;
}
.do-filter .container .do-map .do-map-img {
  position: relative;
}
.do-filter .container .do-map .do-map-img:before {
  content: "";
  position: absolute;
  background: url("../images/map.svg") no-repeat;
  width: 35px;
  height: 35px;
  left: -3rem;
}

.do-filter-modal {
  color: #5C5C5C;
}
.do-filter-modal .modal-body {
  padding: 1rem 3rem;
}
.do-filter-modal-title {
  font-size: 2.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.125rem;
}
.do-filter-modal button.close {
  margin: 1.375rem auto;
  width: 200px;
  border: 3px solid #B4B4B4;
  border-radius: 25px;
  padding: 0.5rem 1rem;
}
.do-filter-modal button.close span {
  font-size: 1.5rem;
  position: relative;
}
.do-filter-modal button.close span:before {
  content: "";
  background: url("../images/close.svg") no-repeat;
  position: absolute;
  width: 30px;
  height: 25px;
  right: -2rem;
  background-size: contain;
}
.do-filter-modal button.close:hover {
  color: #5C5C5C;
}
.do-filter-modal-filters {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: initial;
  -ms-flex-align: initial;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  width: 100%;
}
.do-filter-modal-filters .custom-control {
  margin: 0 !important;
}
.do-filter-modal-range-wrap {
  margin-bottom: 2.5rem;
}
.do-filter-modal-btn button {
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .do-filter .container form {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: initial;
    -ms-justify-content: initial;
    align-content: initial;
    align-items: flex-start;
    -ms-flex-align: flex-start;
    flex-direction: column;
    -ms-flex-direction: column;
    flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
  }
  .do-filter .container form .form-group {
    text-align: center;
  }
  .do-filter .container form .form-group:first-child, .do-filter .container form .form-group:nth-child(2), .do-filter .container form .form-group:nth-child(3) {
    width: 100%;
  }
  .do-filter .container form .form-group .do-categories {
    display: none;
  }
  .do-filter .container form .form-group #do-categories-select {
    display: block;
  }
  .do-filter .container form .do-form-btn {
    width: 100%;
    text-align: center;
    margin: 4.5rem 0.5rem 0 0.5rem;
  }
  .do-filter .container form .do-form-btn.do-submit {
    margin: 1.5rem 0.5rem;
  }
  .do-filter .container form .do-form-btn.do-submit .btn {
    width: 215px;
  }
}
@media (max-width: 768px) {
  .do-filter-modal-title {
    font-size: 1.5rem;
  }
  .do-filter-modal-filters {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    justify-content: center;
    -ms-justify-content: center;
    align-content: center;
    align-items: center;
    -ms-flex-align: center;
    flex-direction: row;
    -ms-flex-direction: row;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
  }
  .do-filter-modal-filters .custom-control {
    margin: 0.5rem 0 !important;
  }
  .do-filter-modal-range-wrap div {
    margin-bottom: 2rem;
    text-align: center;
  }
  .do-filter-modal-range-wrap div label {
    text-align: center;
  }
}
@media (max-width: 425px) {
  .do-filter-modal .modal-body {
    padding: 1rem 2rem;
  }
  .do-filter-modal-title img {
    width: 35px;
  }
}
.form-control:focus {
  box-shadow: unset;
}

form {
  color: #5C5C5C;
  font-weight: 700;
}
form input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.75rem;
  opacity: 1;
  font-style: italic;
}
form input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.75rem;
  font-style: italic;
}
form input:-ms-input-placeholder {
  /* IE 10+ */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.75rem;
  font-style: italic;
}
form input:-moz-placeholder {
  /* Firefox 18- */
  color: #ffffff;
  font-size: 17px;
  font-weight: 300;
  text-transform: none;
  line-height: 1.75rem;
  font-style: italic;
}
form label {
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: 700;
}
form label a {
  color: #EF2F7F;
  text-decoration: underline;
}
form label a:hover {
  color: #EF2F7F;
  opacity: 0.7;
}
form small {
  font-size: 1.0625rem;
  font-weight: 300;
  font-style: italic;
}
form small a {
  color: #EF2F7F;
  text-decoration: underline;
}
form small a:hover {
  color: #EF2F7F;
  opacity: 0.7;
}
form .form-group .form-control,
form .form-group .custom-select {
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 700;
  height: 50px;
  border-radius: 1.5625rem;
  border: 2px solid #B4B4B4;
  color: #5C5C5C;
}
form .form-group .custom-select {
  background: #ffffff url("../images/arrow.svg") no-repeat right 1.3rem center/16px 10px;
}
form .form-group .custom-control {
  padding: 0;
  width: 100%;
  margin: 0 0.5rem;
}
form .form-group .custom-control .custom-control-label {
  font-size: 1rem;
  line-height: 2.375rem;
  font-weight: 700;
  width: 100%;
  height: 50px;
  left: 0;
  padding: 0.3rem;
  color: #5C5C5C;
  background-color: #ffffff;
  border-radius: 25px;
  border: 2px solid #B4B4B4;
  text-align: center;
}
form .form-group .custom-control .custom-control-label:before {
  width: 100%;
  height: 50px;
  border-radius: 1.5625rem;
  left: 0;
  background-color: transparent;
  border: unset;
  top: 0;
}
form .form-group .custom-control .custom-control-label::after {
  background-image: unset !important;
}
form .form-group .custom-control .custom-control-label:hover {
  opacity: 0.7;
}
form .form-group .custom-control .custom-control-label.do-w-100 {
  width: 100%;
}
form .form-group .custom-control .custom-control-label.do-w-100::before, form .form-group .custom-control .custom-control-label.do-w-100::after {
  width: 100%;
}
form .form-group .custom-control .custom-control-label.do-w-100 i {
  position: relative;
}
form .form-group .custom-control .custom-control-label.do-w-100 i:before {
  content: "";
  position: absolute;
  background-size: contain;
  width: 30px;
  height: 30px;
  left: -2rem;
  top: -0.2rem;
}
form .form-group .custom-control .custom-control-label.do-w-100 i.do-card:before {
  background: url("../images/credit-card.svg") no-repeat;
}
form .form-group .custom-control .custom-control-label.do-w-100 i.do-bank:before {
  background: url("../images/bank.svg") no-repeat;
}
form .form-group .custom-control .custom-control-label.do-w-100 i.do-bitcoin:before {
  background: url("../images/bitcoin.svg") no-repeat;
}
form .form-group .custom-control .custom-control-label.do-w-100 i.do-paypal:before {
  background: url("../images/paypal.svg") no-repeat;
}
form .form-group .custom-control input[type=checkbox]:checked ~ .custom-control-label {
  background: #5C5C5C;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label {
  background: transparent;
  color: white;
  border: unset;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #B4B4B4;
  background-color: #5C5C5C;
  z-index: -1;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label::after {
  color: #ffffff;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label.do-w-100 i.do-bank::before {
  background: url("../images/bank_white.svg") no-repeat;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label.do-w-100 i.do-paypal::before {
  background: url("../images/paypal_white.svg") no-repeat;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label.do-w-100 i.do-card::before {
  background: url("../images/credit_card_white.svg") no-repeat;
}
form .form-group .custom-control .custom-control-input:checked ~ .custom-control-label.do-w-100 i.do-bitcoin::before {
  background: url("../images/bitcoin_white.svg") no-repeat;
}
form .do-check .custom-checkbox .custom-control-label::before {
  border-radius: unset;
  border: 1px solid #707070;
  top: 0.7rem;
}
form .do-check .custom-checkbox .custom-control-label::after {
  top: 0.7rem;
}
form .do-check .custom-checkbox .custom-control-input {
  top: 0.7rem;
}
form .do-check .custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #B4B4B4;
  background-color: #5C5C5C;
  top: 0.7rem;
}
form .do-check .custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  top: 0.7rem;
}

.do-range {
  width: 80%;
}
.do-range.ui-widget {
  margin-top: 1.5rem;
}
.do-range.ui-widget.ui-widget-content {
  border: 1px solid #B4B4B4;
}
.do-range.ui-widget.ui-slider-horizontal {
  height: 0.1rem;
}
.do-range.ui-widget.ui-slider-horizontal .custom-handle-from,
.do-range.ui-widget.ui-slider-horizontal .custom-handle-to {
  width: 2.2em;
  height: 2.2em;
  top: 50%;
  margin-top: -1em;
  text-align: center;
  line-height: 1.6em;
}
.do-range.ui-widget.ui-slider-horizontal .do-handle-value {
  font-size: 1rem;
  font-weight: 700;
  margin-top: 2.5rem;
  width: 70px;
}
.do-range.ui-widget.ui-widget-content .ui-state-default {
  border: 3px solid #EF2F7F;
  background: #ffffff;
  border-radius: 1.5625rem;
}
.do-range.ui-widget.ui-widget-content .ui-state-default .do-handle-value {
  color: #5C5C5C;
}

.do-location-wrap {
  position: relative;
}
.do-location-wrap::before {
  content: "";
  position: absolute;
  background: url("../images/location.svg") no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
  right: 2rem;
  top: 3.5rem;
}

@media (max-width: 768px) {
  form label {
    font-size: 1.25rem;
  }
}
@media (max-width: 425px) {
  form .form-group .custom-control {
    padding: 0 0.1rem;
    margin: 1rem 0;
  }
  form .form-group .custom-control-label {
    width: 125px;
  }
  form .form-group .custom-control-label:before {
    width: 125px;
  }
}
.do-map h1 .do-map-icon {
  position: relative;
}
.do-map h1 .do-map-icon:before {
  content: "";
  position: absolute;
  background: url("../images/map.svg") no-repeat;
  width: 40px;
  height: 40px;
  left: -2.5rem;
}
.do-map .do-location-wrap {
  width: 50%;
  margin: 0 auto;
}
.do-map .do-location-wrap:before {
  top: 0.5rem;
}

#map {
  margin-bottom: 2rem;
}
#map .do-gallery-items {
  padding: 10px;
  width: 180px;
}
#map .do-gallery-items .do-gallery-item {
  margin: 0 auto;
}
#map .do-gallery-items .do-item-info .do-item-info-top .do-left-wrap h1 {
  font-size: 1.125rem;
  line-height: 2rem;
  font-weight: 700;
}
#map .do-gallery-items .do-item-info .do-item-info-top .do-left-wrap p {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  font-weight: 300;
}
#map .do-gallery-items .do-top {
  border-top: 3.375rem solid #ef2f7f;
  border-left: 3.375rem solid transparent;
}
#map .do-gallery-items .do-top:before {
  font-size: 1rem;
  left: -2rem;
  top: -3.75rem;
}
#map .do-gallery-items .do-profile {
  text-align: center;
}
#map .do-gallery-items .do-profile a {
  font-size: 0.875rem;
  line-height: 2.375rem;
  font-weight: 700;
  color: #5C5C5C;
  text-align: center;
  text-decoration: underline;
}
#map .gm-style .gm-style-iw-c {
  border-radius: unset;
  padding: 0;
}
#map .gm-style .gm-style-iw-d {
  overflow: hidden !important;
}
#map .gm-style .gm-ui-hover-effect {
  top: -9px !important;
  right: -9px !important;
}

@media (max-width: 768px) {
  .do-map .do-location-wrap {
    width: 100%;
    margin: 0 auto;
  }
}
.do-plans .row {
  padding: 1rem;
}
.do-plans-monthly {
  background-image: linear-gradient(to left, #EF2F7F, #781840);
}
.do-plans-monthly div.col-lg-6:first-child, .do-plans-monthly div.col-lg-6:nth-child(2) {
  margin-bottom: 1rem;
}
.do-plans-monthly .do-plan {
  border: 2px solid #D6799E !important;
}
.do-plans .do-plan {
  background: #ffffff;
  border: 2px solid #B96788;
  width: 280px;
}
.do-plans .do-plan.selected {
  background: #5C5C5C;
  color: #ffffff;
}
.do-plans .do-plan-wrap {
  padding: 2rem 1rem;
}
.do-plans .do-plan-wrap h1 {
  font-size: 2.1875rem;
  line-height: 2rem;
  font-weight: 700;
}
.do-plans .do-plan-wrap-prices {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: space-around;
  -ms-justify-content: space-around;
  align-content: space-around;
  align-items: center;
  -ms-flex-align: center;
  flex-direction: row;
  -ms-flex-direction: row;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  padding: 2rem 0 0 0;
}
.do-plans .do-plan-wrap-prices span:first-child {
  font-size: 1.75rem;
  line-height: 2.9375rem;
  font-weight: 300;
  text-decoration: line-through;
}
.do-plans .do-plan-wrap-prices span:nth-child(2) {
  font-size: 2.25rem;
  line-height: 2.9375rem;
  font-weight: 900;
  color: #EF2F7F;
}
.do-plans .do-plan-wrap-prices span:nth-child(3) {
  font-size: 1.75rem;
  line-height: 2.9375rem;
  font-weight: 900;
}

@media (max-width: 768px) {
  .do-plans .row .col-lg-6 {
    padding: 1rem;
  }
  .do-plans .row .do-plan {
    margin: 0 auto;
  }
  .do-plans .row .do-plan.float-right {
    float: unset !important;
  }
  .do-plans-monthly {
    background-image: linear-gradient(to top, #EF2F7F, #781840);
  }
  .do-plans-monthly div.col-lg-6:first-child, .do-plans-monthly div.col-lg-6:nth-child(2) {
    margin-bottom: unset;
  }
}
.do-register .row div:first-child .form-group {
  float: right;
}
.do-register .form-group {
  width: 50%;
}
.do-register .do-conditions {
  font-weight: 300;
  font-style: italic;
  font-size: 1.0625rem;
  line-height: 2.375rem;
}
.do-register .form-check {
  float: right;
  padding-left: 0;
  width: 50%;
}

@media (max-width: 1024px) {
  .do-register .form-group,
.do-register .form-check {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .do-register form .row:first-of-type, .do-register form .row:nth-of-type(2) {
    margin-bottom: 2.75rem;
  }
  .do-register form .row:nth-of-type(3) {
    margin-bottom: 3.125rem;
  }
  .do-register form .row:nth-of-type(4) {
    margin-bottom: 2.75rem;
  }
}
.do-banner {
  background: url("../images/banner.png") no-repeat;
  background-size: cover;
  background-color: #FA2E7F;
  background-position: center;
  width: 100%;
  text-align: center;
}
.do-banner div {
  padding: 3.3rem 0;
}
.do-banner div h1 {
  font-size: 36px;
  font-weight: 700;
}
.do-banner div p {
  font-size: 24px;
}

.do-payment .row div:first-child .form-group {
  float: right;
}
.do-payment .form-group {
  width: 50%;
}

@media (max-width: 1024px) {
  .do-payment .form-group {
    width: 100%;
  }
}
@media (max-width: 425px) {
  .do-payment form .form-group .custom-control {
    margin: 0 !important;
  }
}
html {
  overflow-x: hidden;
}

body {
  position: relative;
  padding: 0 !important;
  margin: 0 auto;
  min-height: 600px;
  background: #ffffff;
  font-family: "Jost" !important;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  justify-content: initial;
  -ms-justify-content: initial;
  align-content: initial;
  align-items: initial;
  -ms-flex-align: initial;
  flex-direction: column;
  -ms-flex-direction: column;
  flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
}

html,
body {
  height: 100%;
  margin: 0;
}

* {
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

*:visited {
  outline: none !important;
}

button:focus {
  outline: none;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover, a:focus {
  color: #ffffff;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

h1.do-grey-title {
  line-height: 2.375rem;
  font-size: 2.875rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2.375rem;
}

hr {
  border-top: 4px solid #707070;
  border-radius: 25px;
  margin: 1rem 5rem;
}

.m-0-auto {
  margin: 0 auto;
}

.m-2-auto {
  margin: 2rem auto;
}

.btn:hover {
  opacity: 0.9;
}
.btn.btn-white {
  background: #ffffff;
  color: #EF2F7F;
  font-weight: 700;
  min-width: 155px;
  border-radius: 25px;
  line-height: 2.375rem;
}
.btn.btn-pink {
  background: #FA2E7F;
  color: #ffffff;
  font-weight: 700;
  width: 155px;
  border-radius: 25px;
  line-height: 2.375rem;
}
.btn.btn-grey-outline {
  width: 215px;
  background: #ffffff;
  color: #5C5C5C;
  font-weight: 700;
  border-radius: 25px;
  line-height: 2.375rem;
  border: 2px solid #B4B4B4;
}

section.do-register, section.do-payment, section.do-plans, section.do-map {
  margin: 3rem 0;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1760px;
  }
}
@media (max-width: 1024px) {
  h1.do-grey-title {
    font-size: 2.25rem;
  }
}
@media (max-width: 768px) {
  main {
    margin-top: 1.5rem;
  }
}

/*# sourceMappingURL=styles.css.map */
